<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>time display</title>
    {% load static%}
    <link rel="stylesheet" href="{% static 'time_display/styles.css' %}" media="screen" title="no title"  charset="utf-8">
</head>
<body>
    <div id="wrapper">
        <div id="top">
        <p>CURRENT TIME</p>
        </div>
        <div id="bot">
            <h1>{{date}}</h1>
            <h1>{{time}}</h1>
        </div>
    </div>
</body>
</html>